src/main/java/generated/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="/jaxb/gen"
        xmlns:userns="/jaxb/gen"
        elementFormDefault="qualified">

    <complexType name="Player">
    <sequence>
        <element name="name" type="string" />
        <element name="wins" type="int" />
        <element name="age" type="int" />
    </sequence>
    </complexType>

</schema>